@model string

<h1>Create role page</h1>

<form asp-action="Create" method="post">


    <div>
        <label>Role name :</label>
        <input type="text" name="name" class="form-control"/>
    </div>
    <button type="submit">Create role</button>

</form>